body {
    background-color: rgb(27, 27, 37);
}

#title {
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:rgb(200, 208, 214);
    margin:1rem;
    display: inline-block;
}

#marketOpen {
    font-size: 1.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:rgb(230, 80, 84);
    margin:1rem;
}

#subtitle {
    font-size: 2rem;
    margin-top:1cm;
    display:inline-block;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-left:2rem;
    width:0;
    white-space: nowrap;
    border-bottom: 0.25rem solid rgb(74, 74, 179);
    transition: width .4s, color .4s;
}

#subtitle:hover{
    color:rgb(112, 156, 194);
    width:26.5rem;
}
#alpacaAnchor:hover ~ #moreInfoAlpaca {
    margin-left:2rem;
}

#moreInfoAlpaca {
    font-size: 1.5rem;
    margin-top:1cm;
    display:inline-block;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-left:28.5rem;
    white-space: nowrap;
    transition: width .4s, color .4s;
    background-color: rgb(35,35,45);
    padding:0.75rem;
    border-radius: 0.6rem;
    cursor:pointer;
    transition: margin-left .4s, background-color .2s;
}

#moreInfoAlpaca:hover {
    background-color: rgb(35,35,65);
}

#whatIsAlpacaLabel {
    font-size: 2rem;
    margin-top:1cm;
    display:inline-block;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-left:2rem;
    white-space: nowrap;
    transition: width .4s, color .4s;
    background-color: rgb(35,35,45);
    padding:0.75rem;
    border-radius: 0.6rem;
    cursor:pointer;
    transition: margin-left .4s, background-color .2s;
}

#whatIsAlpacaLabel:hover {
    background-color: rgb(35,35,65);
}


#yahooFinance {
    margin-top:1cm;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-right:29.5rem;
    float: right;
    width:0;
    white-space: nowrap;
    border-bottom: 0.25rem solid rgb(74, 74, 179);
    transition: width .4s, color .4s,margin-right .4s; 
}

#yahooFinance:hover {
    color:rgb(112, 156, 194);
    margin-right:3rem;
    width:26.5rem;    
}


#loader {
    position: absolute;
    z-index: 1;
    left:calc(50vw - 100px);
    top:calc(50vh - 100px);
    pointer-events: none;
    transition: filter .8s;
}

.loadingText {
    position: absolute;
    z-index: 1;
    width:100vw;
    height:60px;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:rgb(20,200,200);
    text-align: center;
    left:0;
    top:calc(50vh + 130px);
    pointer-events: none;
    transition: filter .4s;
}

#graphContainer {
    margin-top:2cm;
    position: absolute;
    width:75vw;
    height:35vw;
    left: 25vw;
    text-align: center;
}

#infoContainer {
    margin-top:2cm;
    position: absolute;
    width:25vw;
    height:35vw;
    left: 0;
}

.inputTitle {
    font-size: 2rem;
    margin-top:1cm;
    display:inline-block;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-left:2rem;
}

.inputSubmit {
    font-family: 'Inter', sans-serif;
    color:rgb(47, 58, 70);
    border:0.1rem solid rgb(211, 215, 219);
    background-color: rgb(179, 186, 192);
    margin-top: 4rem;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.passwordInput {
    font-size: 2rem;
    width:27rem;
    margin-top: 1rem;
    margin-left: 6rem;
    font-family: 'Inter', sans-serif;
    color:rgb(217, 220, 223);
    background-color: rgb(47, 47, 57);
    border:0.15rem solid rgb(150, 150, 170);
    border-radius: 0.5rem;
}

#graphLegend {
    display:inline-block;
    width:10vw;
}

#graphCanvas {
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(35,35,45);
}

#statTitle {
    font-size: 2.3rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color:rgb(170, 170, 190);
    margin-left:2rem;
}

.stat {
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    color:rgb(155, 155, 175);
    margin-top:1cm;
    margin-left:3.5rem;
}

#moreInfoButton {
    font-size: 1.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-radius: 0.25cm;
    color:rgb(200, 200, 215);
    margin-top:1cm;
    text-align: center;
    padding-top:0.5cm;
    padding-bottom:0.5cm;
    cursor: pointer;
    width:75%;
    margin-left:calc(3.5rem + 12.5%);
    background-color: rgb(35,35,45);
    transition: background-color .2s, border-radius .2s;
}

#moreInfoButton:hover {
    border-radius: 0.35cm;
    background-color: rgb(35,35,65);
}

#openConfig {
    font-size: 1.5rem;
    margin-top:1cm;
    float:right;
    display:block;
    font-family: 'Inter', sans-serif;
    color:rgb(179, 186, 192);
    margin-right:2rem;
    transition: width .4s, color .4s;
    background-color: rgb(35,35,45);
    padding:0.75rem;
    border-radius: 0.6rem;
    cursor:pointer;
    transition: margin-left .4s, background-color .2s;
}

#riskRange {
    width:5cm;
}

#openConfig:hover {
    background-color: rgb(35,35,65);
}

#updateConfigButton {
    background-color: rgb(0, 31, 61);
    font-family:'Inter', sans-serif;
    color:rgb(150, 150, 170);
    font-size: 1.75rem;
    border: 2px solid rgb(6, 16, 26);
    border-radius: 0.5cm;
    padding-top:10px;
    padding-bottom: 10px;
    width:22rem;
    margin-left: 6rem;
    margin-top:3rem;
    cursor: pointer;
    transition: border .3s;
}

#updateConfigButton:hover {
    border: 2px solid rgb(127, 173, 219);
}

.infoContainer {
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(10,10,13,0.93);
    overflow-y: scroll;
}

.infoTitle {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color:rgb(170, 170, 190);
    margin-left:3rem;
    margin-top:3rem;
}

.infoP {
    font-size: 1.55rem;
    font-family: 'Inter', sans-serif;
    color:rgb(150, 150, 170);
    margin-left:5rem;
    line-height: 0.9cm;
    margin-top:3rem;
    padding-bottom:3rem;
    max-width: calc(100% - 10rem);
    border-bottom:0.1cm solid rgb(170, 170, 190);
}

.infoImage {
    width:40vw;
    margin-left:15vw;
    margin-top:2cm;
    background-color:rgba(35,35,45,0.5);
    border-radius: 0.4cm;
    padding:0.5cm;
}

.codeLine {
    display:inline-block;
    color:rgb(150, 150, 170);
    background-color: rgba(15, 15, 56, 0.8);
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 0.1cm;
    padding:0.1cm;
    transition: filter .2s;
}

.codeLine:hover {
    filter: brightness(1.3);
}

.linkEmbed {
    display:inline-block;
    color:rgb(170, 170, 190);
    background-color: rgba(30, 60, 90, 0.8);
    font-family: 'Inter', sans-serif;
    border-radius: 0.1cm;
    padding:0.1cm;
    transition: background-color .2s;
    text-decoration: none;
}

.linkEmbed:hover {
    background-color: rgba(30, 100, 140, 0.8);
}

.closeText {
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    color:rgb(150, 150, 170);
    margin-left:5rem;
    line-height: 0.9cm;
    margin-top:3rem;
    padding-bottom:3rem;
    max-width: calc(100% - 10rem);
    text-align: center;
}